/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa; /* Light background */
  color: #333; /* Default text color */
  line-height: 1.6;
  overflow-x: hidden;
}


/* Buttons */
.primary-button {
  padding: 0.75rem 1.5rem;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

.primary-button:hover {
  background-color: #1d4ed8;
  transform: translateY(-3px);
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.section {
  max-width: 1200px; /* Limit section width for better layout */
  margin: 0 auto; /* Center-align sections */
}





